h1 {
    text-align: center;
}
table {
    border: 1px solid grey;
    border-collapse: collapse;
    width: 1200px;
    justify-content: center;
    margin: 0 100px;
}
tr {
    width: 100%;
}
th {
    width: 100%;
    border: 2px solid grey;
 }
 .tbl_li {
    text-align: left;
}
 td {
    width: 100%;
    border: 1px solid grey;
    text-align: left;
    padding: 20px;
 }
 .tbl_block {
    display: none;
 }
 .tbl_block:target {
    display: inline-table;
    justify-content: center;
 }
